.Rproj.user
.Rhistory
.RData
.Ruserdata
*.shp
*.shx
*.cpg
*.dbf
*.gpkg
*.prj
*sngo_bylot_PTT_TAG_2021.csv
*.docx
*.RData
*.RDataTmp
*.png
*.tiff
*.tif
*.jpg
Infomap
data/shapefiles/
data/tracking/snow_goose
figures/